/.idea/
/fusionRTS/FusionRTS.iml
/microrts/microrts.iml
/fusionRTS/nbproject/
/fusionRTS/build/
/fusionRTS/build.xml
/fusionRTS/manifest.mf
/out/
/tournament_*/
/FusionRTS/FusionRTS/nbproject/private/
/Projects/
